<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <app-banner (exibirPainel)="exibirPainel($event)"></app-banner>
    </div>

    <div *ngIf="cadastro; else formlogin">
      <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoPainel">
        <app-cadastro (exibirPainel)="exibirPainel($event)"></app-cadastro>
      </div>  
    </div>
    <ng-template #formlogin>
      <div>
          <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoPainel">
            <app-login (exibirPainel)="exibirPainel($event)"></app-login>
          </div>  
      </div>
    </ng-template>
  </div>
</div>